
<div class="container">
  <h1>{{msg}}</h1>
    <form (ngSubmit)="submit()">
      <label for="place">Place</label>
      <input type="text" name="place" [(ngModel)]="property.place" required>
  
      <label for="area">Area</label>
      <input type="text" name="area" [(ngModel)]="property.area" required>
  
      <label for="noOfBedrooms">Number of Bedrooms</label>
      <input type="number" name="noOfBedrooms" [(ngModel)]="property.noOfBedrooms" required>
  
      <label for="likes">Likes</label>
      <input type="text" name="likes" [(ngModel)]="property.likes">
  
      <button type="submit">Submit</button>
    </form>
  </div>
  