
    <li >
        <a routerLink="/user/seller" class="btn btn-success" routerLinkActive="active">DashBoard</a>
    </li>
    <li >
        <a routerLink="/user/my-properties" class="btn btn-primary" routerLinkActive="active">My Properties</a>
    </li>

    <li >
        <a routerLink="/user/register/property" class="btn btn-primary" routerLinkActive="active">Register Property</a>
    </li>
    
    <ul>
        <li>
            <a routerLink="/" class="btn btn-danger" routerLinkActive="active" (click)="logout()">Logout</a>
        </li>
        
    </ul>
  